{% extends "admin/core_custom/list_choice_base.html.twig" %}
{% trans_default_domain 'admin' %}

{% block display_value %}
     {% if object.data[field_description.options.field] is defined %}
          {{ object.data[field_description.options.field] }}
     {% endif %}
{% endblock %}