{% trans_default_domain 'admin' %}

<span>{{ 'elements.proposedBy'|trans }}</span>

{% if not value.getUserDisplayName and element.source %}
  <span class="label label-default">{{ element.source.sourceName }}</span>
  <span>({{ 'imports._label'|trans }})</span>
{% else %}
  <span>{{ value.getUserDisplayName }}</span>
  {% set transKey = value.element.userOwnerEmail == value.userEmail ? 'owner' : value.userRole %}
  <span>({{ ('elements.fields.userRoles_choices.' ~ transKey)|trans|lower }})</span>
{% endif %}

<span>{{ 'elements.proposedAt'|trans ~ ' ' ~ value.createdAt|date('commons.date_time_format'|trans) }}</span>